{% extends "layout.html" %}
{% block body %}
<body class="body">
    <div class="container" align="left">

        <h1 style="color: #5e9ca0;"><span style="color: #339966;">GPS Analysis Dashboard</span></h1>
        <h2 style="color: #2e6c80;"><span style="color: #000000;">Run fails analysis of splitting contractual transactions clicking the button below:&nbsp;</span></h2>
        <ul>
            <li>The split fail analysis compare All sales and all splits from the last 3 days at monday and from the day before other day.</li>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            &nbsp;&nbsp;&nbsp;
        <a href="/fails-statistics/" target="blank"><button class='btn btn-default'>Run Split Fail Analysis</button></a>
</body>
{% endblock %}